# Ignore local build and install folders
build/
dist/
*.egg-info/

# Ignore .pytest_cache
.pytest_cache/

# Ignore __pycache__ directories
__pycache__/

# Ignore readthedocs build directories
docs/_build/